<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802519577304-qi1mg67too14f1vhot7kispdf1hmd1q9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802519577304-qi1mg67too14f1vhot7kispdf1hmd1q9</string>
	<key>API_KEY</key>
	<string>AIzaSyAxdbG28GcqXyuRqGCg97Nx4OSA0CsDcYo</string>
	<key>GCM_SENDER_ID</key>
	<string>802519577304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.model2</string>
	<key>PROJECT_ID</key>
	<string>emaillogin-ae7d2</string>
	<key>STORAGE_BUCKET</key>
	<string>emaillogin-ae7d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802519577304:ios:5e0d537842dad08653ddad</string>
</dict>
</plist>